<div class="col-sm">
    <a [routerLink]="card.link">
        <div class="card">
            <div class="card-body">
                <h6 id="title-small"   class="card-title">{{card.title}}</h6>
                <h4 id="title-large"   class="card-title">{{card.title}}</h4>
                <p  id="title-smaller" class="card-title">{{card.title}}</p>
                <h6 class="card-subtitle mb-2 text-muted">{{card.subtitle}}</h6>
                <p class="card-text">{{card.text}}</p>
            </div>
        </div>
    </a>
</div>

