.row {
   position: fixed; 
   top: 35%;
   left: 10%;
}

@media (max-width: 650px) {
    .row {
        position: fixed;
        top: 10%;
        left: 15%;
        right:15%;
        font-size: 80%;
    }
}

@media (orientation: landscape) and (max-height: 400px) {
    .row {
        top: 10%;
    }
}

@media (orientation: landscape) and (max-width: 570px) {
   .row {
        top: 15%;
        left: 10%;
        right: 5%;
   }
}

@media (orientation: landscape) and (max-width: 650px) and (min-width: 571px) {
    .row {
        top: 15%;
        left: 5%;
        right: 5%;
    }
}


@media (orientation: landscape) and (max-width: 750px) and (min-width: 670px) {
    .row {
        top: 15%;
        left: 15%;
        right: 5%;
    }
}
