<div style="display: flex; flex-direction: column;">
    <app-header></app-header>
    <p style="color: white; margin-left: 10vw; margin-right: 10vw;">{{nfts}}</p>
</div>
<div style="display: flex; align-items: flex-end; justify-content: space-between; margin-left: 5vw; margin-right: 5vw; margin-bottom: 5vh;">
    <ion-icon style="color: white;" name="logo-reddit"></ion-icon>
    <ion-icon style="color: white;" name="logo-github"></ion-icon>
    <ion-icon style="color: white;" name="logo-discord"></ion-icon>
    <ion-icon style="color: white;" name="logo-twitter"></ion-icon>
</div>
