.paragraph-title {
    position: fixed;
    left: 0.75%;
}

.box {
  height: 420px;
  position: fixed;
  top: 16%;
  left: 0.75%;
  right: 0.75%;
  text-align: justify;
  overflow-y: scroll;
}

::-webkit-scrollbar {
    display: none;
}

@media (max-height: 1050px) and (max-width: 650px) {
    .paragraph-title {
        position: fixed;
        left: 4%;
    }

    .box {
        height: 420px;
        position: fixed;
        top: 16%;
        left: 4%;
        right: 4%;
        text-align: justify;
        overflow-y: scroll;
    }
}

@media (max-height: 600px) {
    .box {
       height: 350px; 
    }
}

@media (orientation: landscape) and (max-height: 420px) {
    .box {
        height: 120px;
        top: 30%;
    }
}





