.card {
    background-color: transparent;
    border-color: transparent;
}

a{
  display: block;
  color: white;
  text-decoration: none;
  position: relative;
}

a::after{
  content: "";
  background: white;
  mix-blend-mode: exclusion;
  width: calc(100% + 20px);
  height: 0;
  position: absolute;
  bottom: -4px;
  left: -10px;
  transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

a:hover::after{
	height: calc(100% + 8px)
}

/* The End */

@media (min-width: 650px) {
    .card {
        background-color: transparent;
        border-color: transparent;
        width: 60%;
    }
}

#title-small {
    display: none;
}

#title-smaller {
    display: none;
}

@media (orientation: landscape) and (max-width: 850px) {
    .col-sm {
        width:250px; 
    }

    .card-text {
        font-size: 60%;
    }

    .card-subtitle {
        font-size: 70%;
    }
}


@media (orientation: landscape) and (max-width: 740px) {
    .col-sm {
        width:200px; 
    }

    .card-text {
        font-size: 60%;
    }

    .card-subtitle {
        font-size: 70%;
    }
}


@media (orientation: landscape) and (max-width: 570px) {
    .col-sm {
        width:150px; 
    }

    .card-text {
        font-size: 60%;
    }

    .card-subtitle {
        font-size: 70%;
    }
}

@media (max-height: 600px) {
    #title-small {
        display: block;
    }

    #title-large {
        display: none;
    }
}


@media (max-height: 450px) {
    #title-small {
        display: none;
    }

    #title-smaller {
        display: block;
    }

    .card-title {
        font-size: 70%;
    }
}


