<div style="display: flex; flex-direction: column;">
    <app-header></app-header>
</div>
<ion-content>
    <ion-slides #slides>
        <ion-slide>
            <div style="display: flex; justify-content: center; align-content: center; flex-direction: column;">
                <h3>Slide1</h3>
                <p>Slide text</p>
            </div>
        </ion-slide>
        <ion-slide>
            <div style="display: flex; justify-content: center; align-content: center; flex-direction: column;">
                <h3>Slide2</h3>
                <p>Slide text</p>
            </div>
        </ion-slide>
        <ion-slide>
            <div style="display: flex; justify-content: center; align-content: center; flex-direction: column;">
                <h3>Slide3</h3>
                <p>Slide text</p>
            </div>
        </ion-slide>
    </ion-slides>
    <div style="display: flex; justify-content: space-between; align-items: center; height: 100vh;">
        <ion-button (click)="slides.slidePrev()"><ion-icon name="chevron-back-circle-outline"></ion-icon></ion-button>
        <ion-button (click)="slides.slideNext()"><ion-icon name="chevron-forward-circle-outline"></ion-icon></ion-button>
    </div>
</ion-content>
<div style="display: flex; align-items: flex-end; justify-content: space-between; margin-left: 5vw; margin-right: 5vw; margin-bottom: 5vh;">
    <ion-icon style="color: white;" name="logo-reddit"></ion-icon>
    <ion-icon style="color: white;" name="logo-github"></ion-icon>
    <ion-icon style="color: white;" name="logo-discord"></ion-icon>
    <ion-icon style="color: white;" name="logo-twitter"></ion-icon>
</div>

