.note{
  position: fixed;
  bottom: 0%;
  color: #ddd;
  text-transform: none;
  font-size: 50%;
  font-weight: 300;
  text-align: center;
  width: 100%;
}


.row {
    position: fixed;
    top: 90%;
    left: 25%;
    right: 5%;
}



.paragraph-title {
    position: fixed;
    left: 0.75%;
}

.box {
  height: 420px;
  position: fixed;
  top: 16%;
  left: 0.75%;
  right: 0.75%;
  text-align: justify;
  overflow-y: scroll;
}

::-webkit-scrollbar {
    display: none;
}

@media (max-height: 1050px) and (max-width: 650px) {
    .paragraph-title {
        position: fixed;
        left: 4%;
    }

    .box {
        height: 420px;
        position: fixed;
        top: 16%;
        left: 4%;
        right: 4%;
        text-align: justify;
        overflow-y: scroll;
    }
}
    

@media (min-width: 650px) {
    .note{
        position: fixed;
        bottom: 0%;
        color: #ddd;
        text-transform: none;
        font-size: 70%;
        font-weight: 300;
        text-align: center;
        width: 100%;
    }
}


@media (max-height: 700px) {
    .note{
        font-size: 40%;
    }

}



@media (max-width: 650px) {
    .row {
        position: fixed;
        top: 85%;
        left: 25%;
    }

    .col-sm {
        width: 30%
    }
}


@media (max-height: 600px) {
    .note{
        font-size: 30%;
    }

    .row {
        top: 88%;
    }

    .box {
       height: 350px; 
    }
}


@media (orientation: landscape) and (max-width: 850px) {
    .row {
        top: 80%;
    }
}





